<h2>Adicionar Cliente</h2>
<div>
<form action="/customers/create" method="POST">
    <label for="name">Nome:</label>
    <input type="text" name="nome" required><br>

    <label for="email">Email:</label>
    <input type="email" name="email" required><br>

    <label for="phone">Telefone:</label>
    <input type="text" name="telefone"><br>

    <button type="submit">Salvar</button>
</form>
</div>
